/* Importação da fonte 'Poppins' e 'Open Sans' via Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&display=swap');

* {
    /* Reset CSS */
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    /* 1rem equivale a 10px */
    font-size: 10px;
}

:root {
    /* Variáveis de fonte e cores da aplicação */
    --font-default: 'Poppins', sans-serif;
    --font-open: 'Open Sans', sans-serif;

    --black: #0D114F;
    --white: #FAFAFA;
    --red: #E83F5B;
    --light-blue: #E0ECFF;
    --blue: #3485FF;
    --background: #F6FAFF;
    --overlay: #040911;
    --icons-details: #A5B0C1;

    --grey-dark: #4D5E77;
    --grey-blue: #A1B2CD;
    --grey-medium: #D3D9E2;
    --grey-light: #E5EAF1;

    --hover-blue: #5699FF;
    --hover-red: #EA4B65;
    --hover-grey: #8794A7;
}

body {
    /* Responsividade da tela */
    display: flex;
    height: 100vh;

    /* Background padrão */
    background-color: var(--background);
}

body, button, input, textarea {
    /* Intervalor de tamanho */
    font-size: clamp(14px, 1.6rem, 2vw);

    /* Fonte padrão */
    font-family: var(--font-open);
}

.content {
    width: 100%;
    margin: 0 auto;
}

/* Elemento invisível na tela mas visível para os leitores de acessibilidade e motores de busca */
.sr-only {
    position: absolute;
    height: 1px;
    width: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}


/* Input e botões */
input, button, .button {
    border-radius: .8rem;
    height: 5rem;
}

button, .button {
    font-family: var(--font-default);
    font-weight: 500;
    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--blue);
    color: var(--white);

    transition: filter .2s;

    cursor: pointer;
}

button:hover, .button:hover {
    background: var(--hover-blue);
}

button > img, .button > img {
    margin-right: 1rem;
    width: 2rem;
}

button.outlined, .button.outlined {
    background-color: var(--white);
    color: var(--blue);

    border: .2rem solid var(--blue);
}

button.red, .button.red {
    background: var(--red);
    color: var(--white);

    transition: filter .2s;
}

button.red:hover, .button.red:hover {
    background: var(--hover-red);
}

button.grey, .button.grey {
    background: var(--grey-light);
    color: var(--grey-dark);

    transition: filter .2s;
}

/* Header */

.content header {
    width: 80%;
    margin: 3.5rem auto;
}

.content header img {
    width: 16.7rem;
}